<div class="band qwizbook">
		<div class="qwizbook-container full-width clearfix" >
			<div class="fourteen columns  offset-by-one">
				<h4 class="header"><%= title %></h4>
			</div>
			<div class="fourteen columns content">
				<p>
					<%= title %>
				</p>
			</div>
			<div class="twelve columns">
				<h4 class="footer">Open this QwizBook </h4>
			</div>
			<div class="three columns register" >
				<form method="link" action="#qwizbook/<%= nid %>">
					<input type="submit" value="Start">
				</form>
				<!--      <button class="full-width" id="qwizbook_start_button">Start</button> -->
			</div>
		</div>
</div>