<div class="band showcase_tutorial">
  <div  class="container">
    <div class="sixteen columns add-bottom clearfix">
      <h5 class="header">See how to use <strong> Quizbooks </strong> and How you can create an share your own <strong>Quizbook</strong>.</h5>
    </div>
    <div class="twelve columns add-bottom  clearfix">
      <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/VIDEO_ID" frameborder="0"> </iframe>
    </div>
    <div class="four columns add-bottom">
      <p> Qwizkool uses a innovative Q&A style learning method. Questions can tremendously help learning process by triggering your thinking. Neurologically, when you answer a question you form your own mental connections and therefore learn more effectively. At Qwizkool you can create your own quizzes, or share it with your friends. At Qwizkool you can find quizzes for various topics. </p>
    </div>
    <hr/>
  </div>
</div>
