<div class="sign_in_form">
			<div class="three columns offset-by-one alpha">
				<label for="user_id_input">User Name:</label>
				<input class="remove-bottom" type="text" id="user_id_input" />
			</div>
			<div class="three columns ">
				<label for="user_password_input">Password:</label>
				<input class="remove-bottom" type="password" id="user_password_input" />
			</div>
			<div class="two columns omega">
				<!-- Label and text input -->
				<button class="full-width button" id="signin_button">
					Sign In
				</button>
			</div>
			<div class="three columns offset-by-one alpha ">
				<label for="regularCheckbox">
					<input type="checkbox" id="regularCheckbox" value="checkbox 1" />
					<span>Keep me logged in</span> </label>
			</div>
			<div class="three columns omega ">
				<a href="#" class="forgot_link">Forgot Password?</a>
			</div>
		<div class="eight columns offset-by-one" id="login-status"></div>	</div>
</div>