<div class="band social_connection">
  <div  class="row clearfix">
    <div class="six columns offset-by-two clearfix">
      <h1 class="connect">Connect with us</h1>
    </div>
    <div class="seven columns  offset-by-one clearfix">
      <div class="two columns alpha">
        <h1 class="logo_facebook"><a href=""> Facebook</a></h1>
      </div>
      <div class="two columns">
        <h1 class="logo_googleplus"><a href=""> Google+</a></h1>
      </div>
      <div class="two columns omega">
        <h1 class="logo_twitter"><a href=""> Twitter</a></h1>
      </div>
    </div>
    <hr />
  </div>
</div>
