<div class="band user_main">
  <div  class="container">
    <div class="sixteen columns add-bottom clearfix"> 

      <!-- Standard <ul> with class of "tabs" --> 
      <!-- NOTE: jQuery that fires the change is in tabs.js -->
      <ul class="tabs">
        <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
        <li><a class="active" href="#library">Library</a></li>
        <li><a href="#shelf">Shelf</a></li>
        <li><a href="#author">Author</a></li>
        <li><a href="#achievements">Achievements</a></li>
        <li><a href="#account">Account</a></li>
      </ul>
      
      <!-- Standard <ul> with class of "tabs-content" -->
      <ul class="tabs-content">
        <!-- Give ID that matches HREF of above anchors -->
        <li class="active" id="library">Qwizkool Library panel.</li>
        <li id="shelf">Qwizkool user shelf panel.</li>
        <li id="author">Qwizkool authoring panel.</li>
        <li id="achievements">Qwizkool achievements panel.</li>
        <li id="account">Qwizkool user account panel</li>
      </ul>
    </div>
    <!--    <hr/> --> 
  </div>
</div>
