<div class="band user_main">
	<div  class="row clearfix">
		<div class="sixteen columns add-bottom ">

			<!-- Standard <ul> with class of "tabs" -->
			<!-- NOTE: jQuery that fires the change is in tabs.js -->
			<ul class="tabs clearfix remove-bottom">
				<!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
				<li>
					<a data-bypass class="active" href="#library"><strong>Library</strong></a>
				</li>
				<li>
					<a data-bypass href="#shelf"><strong>Shelf</strong></a>
				</li>
				<li>
					<a data-bypass href="#author"><strong>Author</strong></a>
				</li>
				<li>
					<a data-bypass href="#achievements"><strong>Achievements</strong></a>
				</li>
				<li>
					<a data-bypass href="#account"><strong>Account</strong></a>
				</li>
			</ul>
			<div class="row clearfix">
			<!-- Standard <ul> with class of "tabs-content" -->
			<ul class="tabs-content clearfix user-main-tab-content">
				<!-- Give ID that matches HREF of above anchors -->
				<li class="active" id="library" >
					<div id="qwizbook-list">

					</div>
				</li>
				<li id="shelf">
					Qwizkool user shelf panel.
				</li>
				<li id="author">
					Qwizkool authoring panel.
				</li>
				<li id="achievements">
					Qwizkool achievements panel.
				</li>
				<li id="account">
					Qwizkool user account panel
				</li>
			</ul>
</div>
		</div>
		<!--    <hr/> -->
	</div>
</div>
