/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
#qwizkool-header {

}

#qwizkool-toolbar {

}

#qwizkool-int-header {

}

#qwizkool-user-settings {
}

#qwizkool-user-settings .guibuttons{

    float: right;
}

#qwizkool-content-side {
    /*background-color: #CCC;*/
}

#qwizkool-main-image {
    /*background-color: #CCC;*/
}

#qwizkool-sign-in {
    /*background-color: #CCC;*/
}

#sign-in-form {
    /*background-color: #CCC;*/
}

input.text {
     width: 86%;
    font-size: 14px;
    padding-left: 36px;
    height: 28px;

}

input.user {
    background: url(../images/agent.png) no-repeat;
}

input.email {
    background: url(../images/email.png) no-repeat;
}

input.password {
    background: url(../images/lock.png) no-repeat;
}

button#signin-button {
    font-size: 14px;
}
button#register-button{
    font-size: 14px;
    color: #2b7ebe;
}

.panel-style {
background: #FFF;
padding: 10px;
border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
border-radius: 8px; /* Add rounded corners to the form*/
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
box-shadow: 0px 1px 3px #888; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
-webkit-box-shadow: 0px 1px 3px #888;
-moz-box-shadow: 0px 1px 3px #888;
}

#sign-in-form {
}

#reg-in-form {
}

#qwizkool-info-left {
    height: 200px;
    background-color: #CCC;
}

#qwizkool-info-right {
    height: 200px;
    background-color: #CCC;
}

#qwizkool-info-mid {
    height: 200px;
    background-color: #CCC;
}

#qwizkool-footer-content {
    /*background-color:#CCC;*/
    height: 80px;
}

.band.social_connection .connect {
    color: #C0C0C0;
}

.band.social_connection .logo_facebook a {
    width: 70px;
    height: 70px;
    display: block;
    background: url(../images/f_logo.png) no-repeat;

    /* to hide text of the link */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.band.social_connection .logo_googleplus a {
    width: 70px;
    height: 70px;
    display: block;
    background: url(../images/gplusicon_large.png) no-repeat;

    /* to hide text of the link */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.band.social_connection .logo_twitter a {
    width: 70px;
    height: 70px;
    display: block;
    background: url(../images/twitter_newbird_boxed_whiteonblue.png) no-repeat;

    /* to hide text of the link */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#qwizkool-footer-content a{
    font-size: 14px;
    font-weight: bold;

}

.side-panel-header-style {
    background: #f5f5f5;;
    padding: 10px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 1px 3px #888; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0px 1px 3px #888;
    -moz-box-shadow: 0px 1px 3px #888;
}


.side-panel-style {
    background: #FFF;
    padding: 10px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 1px 3px #888; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0px 1px 3px #888;
    -moz-box-shadow: 0px 1px 3px #888;
}

.qwizbook-panel-style {
    background: #FFF;
    padding: 10px;
    border: thin solid #d0d0d0; /* This is the outer border, inner border will be added to the div contained within*/
    box-shadow: 0px 1px 3px #888; /* Add shadow to the form – First two values are shadow offset, third is blur radius*/
    -webkit-box-shadow: 0px 1px 3px #888;
    -moz-box-shadow: 0px 1px 3px #888;
}

#qwizkool-major-category-list li a {
    text-decoration: none;
}

#qwizkool-major-category-list li a:hover {
    color: #007bc4;
}

input.search {
    background: url(../images/search.png) no-repeat;
    width: 80%;
    font-size: 14px;
    padding-left: 36px;
    height: 28px;
}

.qwizbook-list-item-content {
    min-height: 100px;
}

.qwizbook-list-item-footer button {
    float: right;
}

.qwizbook-item-content {

}

.qwizbook-item-footer button {
    float: right;
}

.qwizbook-ratings-container {
    float: left;
}

#qwizbook-main-image{

}


/* Generic scaled image */
.scaled-image {
    max-width: 100%;
    height: auto;
}

/* For scaling the emdedded video
firstly we deal with the container element
making it relatively positioned
and defining its height proportionally
to its width - giving us a 16:9 ratio
*/
.embed {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    height: 0;
    overflow: hidden;
}

/*
then we make the actual embedded content
behave in terms of its dimensions
and its position within the container
*/
.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/