<div class="band qwizkool_main">
  <div  class="row clearfix">
    <div class="sixteen columns">
      <h2 class="header">About Us.</h2>
    </div>
    <div class="sixteen columns content">
      <p> Qwizkool uses a innovative Q&A style learning method. Questions can tremendously help learning process by triggering your thinking. Neurologically, when you answer a question you form your own mental connections and therefore learn more effectively. At Qwizkool you can create your own quizzes, or share it with your friends. At Qwizkool you can find quizzes for various topics. </p>
    </div>
    <div class="twelve columns">
      <h4 class="footer">Are you ready to experience the new and fast way of learning?</h4>
    </div>
    <hr />
  </div>
</div>
