<div class="band qwizkool_registration">
  <div  class="row clearfix">
  <div id="registration-status">
  </div>
    <div class="seven columns clearfix add-bottom">
      <div class="registration_container full-width clearfix registration-form" >
        <div class="seven columns clearfix add-bottom">
          <h3 class="header">Enroll in Qwizkool.</h3>
        </div>
        <div class="seven columns clearfix add-bottom">
          <div class="registration_form full-width" >
            <div class="d-form">
              <!-- Label and text input -->
              <label for="user_name">User Name:</label>
              <input type="text" id="user_name" />
              <label for="pass_word1">Password:</label>
              <input type="password" id="pass_word1" />
               <label for="pass_word2">Confirm Password:</label>
             <input type="password" id="pass_word2" />
              <label for="user_email">Email:</label>
              <input type="text" id="user_email" />
              <div class="two columns alpha">
                <button id="signup_button">Sign Up</button>
              </div>
              <div class="three columns omega ">
                <h6 class="header">By signing you agree to Qwizkool</h6>
                 <a href=""> terms of use.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="six columns clearfix add-bottom">
        <h1 class="microcopy">We guarantee you a refreshing learning experience!!</h1>
      </div>
    <hr />
  </div>
</div>